// vim: sw=4
@import "gruvbox.scss"

@keyframes wiggle
    0%   { transform: rotate(0deg)  }
    10%  { transform: rotate(6deg)  }
    30%  { transform: rotate(-6deg) }
    50%  { transform: rotate(6deg)  }
    70%  { transform: rotate(-6deg) }
    90%  { transform: rotate(6deg)  }
    100% { transform: rotate(0deg)  }

@mixin circle()
    width: 100%
    height: 100%
    border-radius: 50%

@mixin hover-for-device()
    @media (pointer:coarse)
        &:active
            @content
    @media (pointer:fine)
        &:hover, &:focus
            @content

$ring-width: 12px
$transition-duration: 200ms

html
    font-family: sans-serif
    height: 100%

body
    margin: 0
    height: 100%

button
    border: none

    &:enabled
        cursor: pointer

    &::-moz-focus-inner
        border-style: none
        padding: 0

    // focus circle
    display: grid
    align-items: center
    justify-items: center
    *
        grid-area: 1 / 1

    &::before
        content: " "
        display: block
        border-radius: 50%
        position: absolute
        z-index: -1

        .theme-gb-light &
            background: fade-out($gb-dm-bg1, 0.95)

        .theme-gb-dark &
            background: fade-out($gb-dm-fg1, 0.95)

        transition: all $transition-duration
        width: 0
        height: 0
        opacity: 0

    &:focus::before
        height: 78px
        width: 78px
        opacity: 1

.visible
    z-index: 1

.hidden
    opacity: 0
    z-index: -1

.meme
    min-height: 100%
    display: grid
    grid-template-areas: "CssGridsArePain"
    .timer, .duration-dialog
        grid-area: CssGridsArePain
    align-items: center
    justify-items: center

    transition: background $transition-duration, color $transition-duration

    &.theme-gb-light
        background: $gb-lm-bg0
        color:      $gb-lm-fg1
        .text-muted
            color:  $gb-lm-fg4

    &.theme-gb-dark
        background: $gb-dm-bg0
        color:      $gb-dm-fg1
        .text-muted
            color:  $gb-dm-fg4

    button.toggle-theme
        position: fixed
        bottom: 15px
        right: 15px

        border: 0
        border-radius: 50%
        box-shadow: 1px 1px 2px fade-out($gb-dm-bg0-hard, .70)

        width: 40px
        height: 40px

        transition: background $transition-duration

    &.theme-gb-light button.toggle-theme
        background: $gb-lm-bg1
        &:enabled
            @include hover-for-device()
                background: $gb-dm-bg1

    &.theme-gb-dark button.toggle-theme
        background: $gb-dm-bg1
        &:enabled
            @include hover-for-device()
                background: $gb-lm-bg1

@mixin circle-with-two-buttons()
    height: 4em 
    width: 4em

    font-size: 5em

    padding: 10px
    display: grid
    grid-template-rows: 50% 50%
    align-items: center
    justify-items: center

    transition: opacity $transition-duration

    button 
        font-size: 1em
        background: transparent

        &:focus /* TODO */
            // I have to not use a drop shadow for this because any filters fuck up
            // svgs on firefox and blur them incredibly ...
            //border: 1px solid red
            //svg
            //    filter: drop-shadow(1px 1px 1px fade-out($gb-dm-bg0, .20)) drop-shadow(1px 1px 8px fade-out($gb-dm-dark-blue, 0.50))

        transition: font-size $transition-duration

        &:enabled:active
            padding: 0 // TODO needed?
            font-size: 1.1em
            svg
                animation: wiggle 500ms

        width: 100%
        height: 100%

        &:first-of-type
            grid-area: 1 / 1
            clip-path: circle(farthest-side at 50% 100%)

        &:last-of-type
            grid-area: 2 / 1
            clip-path: circle(farthest-side at 50% 0)

        svg
            height: 1em
            transition: fill $transition-duration, opacity $transition-duration / 4
            //filter: drop-shadow(1px 1px 1px fade-out($gb-dm-bg0, .50))

        svg
            .theme-gb-light &
                fill: $gb-lm-bg2
            .theme-gb-dark &
                fill: $gb-dm-bg2
        &:enabled
            @include hover-for-device()
                .theme-gb-light & svg
                    fill: $gb-lm-dark-gray
                .theme-gb-dark & svg
                    fill: $gb-dm-dark-gray

@keyframes progress-right
    0%   { transform: rotate(0deg)   }
    50%  { transform: rotate(180deg) }
    100% { transform: rotate(180deg) }

@keyframes progress-right-again
    0%   { transform: rotate(0deg)   }
    50%  { transform: rotate(180deg) }
    100% { transform: rotate(180deg) }

@keyframes progress-left
    50%  { transform: rotate(0deg)   }
    100% { transform: rotate(180deg) }

@keyframes progress-left-again
    50%  { transform: rotate(0deg)   }
    100% { transform: rotate(180deg) }

.timer
    font-weight: bold

    @include circle-with-two-buttons()

    &.expired
        animation: wiggle 500ms

    .progress
        @include circle()
        border: $ring-width solid transparent
        transition: border-color $transition-duration, background $transition-duration, color $transition-duration
        box-shadow: 1px 1px 2px fade-out($gb-dm-bg0-hard, .70)

        .theme-gb-light &
            background: $gb-lm-bg1
            border-color: $gb-lm-bg2

        .theme-gb-dark &
            background: $gb-dm-bg1
            border-color: $gb-dm-bg2

        display: grid

        // these fill elements function as Masking regions for progress rings drawn
        // by the ::before element which rotates into this mask and becomes visible
        .fill-right, .fill-left
            grid-area: 1 / 1

            margin: -$ring-width
            padding-bottom: 2 * $ring-width
            padding-right: 2 * $ring-width
            overflow: hidden
            @include circle()
            clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%)
            animation-duration: inherit // inherit from .progress

            &::before // right semicircle
                content: " "
                display: block
                @include circle()
                clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%)

                animation-duration: inherit // inherit from .progress
                animation-timing-function: linear

                border: $ring-width solid transparent
                transition: border-color $transition-duration

        .fill-left
            transform: rotate(180deg)
            &::before
                animation-name: progress-left

        .fill-right
            &::before
                animation-name: progress-right

    // the -again animation is a duplication. by changing the animation name, we can
    // reset the animation by toggling the anim-hack class
    &.anim-hack
        .fill-left
            &::before
                animation-name: progress-left-again

        .fill-right
            &::before
                animation-name: progress-right-again


    .progress
        .fill-left, .fill-right
            &::before
                .theme-gb-light &
                    border-color: $gb-lm-dark-blue

                .theme-gb-dark &
                    border-color: $gb-dm-dark-blue

    &.paused .progress
        .fill-left, .fill-right
            &::before
                border-color: $gb-dm-light-blue

    &.expired .progress
        .theme-gb-light &
            border-color: $gb-lm-dark-yellow

        .theme-gb-dark &
            border-color: $gb-dm-light-yellow

        .fill-left, .fill-right
            &::before
                border-color: transparent

    &.running .progress .fill-left::before,
    &.running .progress .fill-right::before
        animation-play-state: running

    &.paused .progress .fill-left::before,
    &.paused .progress .fill-right::before,
    &.expired .progress .fill-left::before,
    &.expired .progress .fill-right::before
        animation-play-state: paused

    button

        &.toggle
            display: grid
            justify-items: center
            align-items: center
            svg
                grid-area: 1 / 1

        .theme-gb-light &:enabled
            @include hover-for-device()
                svg.play-icon
                    fill: $gb-lm-dark-green
                svg.pause-icon
                    fill: $gb-lm-dark-yellow

        .theme-gb-dark &:enabled
            @include hover-for-device()
                svg.play-icon
                    fill: $gb-dm-light-green
                svg.pause-icon
                    fill: $gb-dm-light-yellow

    &.paused .pause-icon,
    &.expired .pause-icon
        opacity: 0

    &.running .play-icon
        opacity: 0

    .text 
        grid-area: 1 / 1 / -1 / -1

    .progress
        grid-area: 1 / 1 / -1 / -1

    .min-sec-sep
        display: none

    .sec
        font-size: 0.7em
        vertical-align: super
        @extend .text-muted

@keyframes popin
    0%    { transform: scale(0.00, 0.00) rotate(10deg) }
    100%  { transform: scale(1.00, 1.00) rotate(0) }

.duration-dialog
    border: $ring-width solid transparent
    border-radius: 50%

    @include circle-with-two-buttons()

    form
        grid-area: 1 / 1 / -1 / -1
        z-index: 1
        display: grid
        justify-items: center

    input
        padding: 10px
        width: 100%

        text-align: center
        font-size: 40px
        font-weight: 300

        box-shadow: inset 1px 1px 2px fade-out($gb-dm-bg0-hard, .70)
        border: 3px solid transparent
        border-radius: 16px
        transition: border-color $transition-duration

        .theme-gb-light &
            background: $gb-lm-bg1
            color:      $gb-lm-fg0

        .theme-gb-dark &
            background: $gb-dm-bg1
            color:      $gb-dm-fg0


    // The active & focused border colour here is supposed to match the unpaused
    // progress bar.
    &.valid input
        .theme-gb-light &
            border-color:     $gb-lm-dark-blue
            &:active, &:focus
                border-color: $gb-lm-light-blue

        .theme-gb-dark &
            border-color:     $gb-dm-light-blue
            &:active, &:focus
                border-color: $gb-dm-dark-blue

    &.invalid input
        .theme-gb-light &
            border-color:     $gb-lm-dark-yellow
            &:active, &:focus
                border-color: $gb-lm-light-yellow

        .theme-gb-dark &
            border-color:     $gb-dm-light-yellow
            &:active, &:focus
                border-color: $gb-dm-dark-yellow

    button

        .theme-gb-light &
            background: $gb-lm-bg1
            color:      $gb-lm-fg0

        .theme-gb-dark &
            background: $gb-dm-bg1
            color:      $gb-dm-fg0

        &:enabled
            @include hover-for-device()
                &.accept svg
                    fill: $gb-dm-dark-blue
                &.cancel svg
                    fill: $gb-dm-dark-gray


    &.valid .accept svg
        fill: $gb-dm-light-blue
        //filter: drop-shadow(1px 1px 1px fade-out($gb-dm-bg0, .20)) drop-shadow(1px 1px 8px fade-out($gb-dm-dark-blue, 0.50))
